@import '../common/colors.scss';

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #a8c0ff;
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  max-width: 1200px;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin: 80px 0;
  box-shadow: 0 30px 60px rgba(0,0,0,.25);
  &-title {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
    margin: 0;
  }
}

.kerning {
  color: #fff;
  font-size: 6rem;
  letter-spacing: -.125em;
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 1;
  text-shadow: -0.0475em 0px 36px rgba(77, 94, 179, 0.35);
  text-transform: capitalize;
  .kern {
    letter-spacing: -.1575em;
  }
}

@media(min-width: 900px) {
  .banner {
    height: 500px;
  }
  .banner-title {
      font-size: 4rem;
  }
  .kerning {
    top: -70px;
    font-size: 12rem;
    letter-spacing: -.125em;
    text-shadow: -0.0475em 0px 36px rgba(77, 94, 179, 0.35);
  }
}

#happy-cloud {
  width: 100px;
  position: absolute;
  left: -25px;
  top:-65px;
  z-index: 1;
}

#cloud-1 {
  width: 100px;
  position: absolute;
  right: -30px;
  bottom:20px;
  z-index: 1;
}

#happy-cloud-2 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 50px;
  position: absolute;
  right: -20px;
  top:-10px;
  z-index: 1;
}

#cloud-5 {
  width: 75px;
  position: absolute;
  right: 15px;
  top:-50px;
  z-index: 1;
}

@media(min-width: 900px) {
  #happy-cloud {
    width: 150px;
    left: -50px;
    top:0;
  }
  #cloud-5 {
    right: 60px;
    top:-30px;
    width: 175px;
  }
}
