@import '../common/colors.scss';

.resume {
  .container {
    max-width: 1100px;
    height: auto;
    margin: 60px auto;
    padding: 0 16px;
  }

  .hero {
    position: relative;
  }

  .name {
    font-size: 70px;
    font-weight: 300;
    display: inline-block;
    margin: 0;
    line-height: 1;
    margin-top: 40px;
  }

  .job-title {
    vertical-align: top;
    background-color: #D9E7F8;
    color: #4A90E2;
    font-weight: 500;
    margin: 0;
    border-radius: 26px;
    display: inline-block;
    position: absolute;
    top: -22px;
    padding: 8px 16px;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .email {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: #81899C;
    margin-top: 0;
  }

  .lead {
    font-size: 44px;
    font-weight: 300;
    margin-top: 60px;
    line-height: 55px;
  }

  .sections {
    vertical-align: top;
    display: inline-block;
    width: 49.7%;
    height: 50px;
  }

  .section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .list-card {
    margin: 30px 0;
  }

  .list-card .exp,
  .list-card div {
    display: inline-block;
    vertical-align: top;
  }

  .list-card .exp {
    margin-right: 16px;
    color: #4A90E2;
    font-weight: 600;
    width: 100px;
  }

  .list-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #5B6A9A;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .list-card div span {
    font-size: 18px;
    color: #81899C;
    line-height: 22px;
  }

  .cards {
    display: block;
  }

  .card {
    height: 200px;
    width: 100%;
    border: 1px solid #EEF0F7;
    background-color: #EEF0F7;
    display: inline-block;
    margin: 16px;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    transition: 0.5s;
  }

  .skill-level {
    display: inline-block;
    max-width: 160px;
  }

  .skill-level span {
    font-size: 35px;
    font-weight: 300;
    color: #5B6A9A;
    vertical-align: top;
  }

  .skill-level h2 {
    font-size: 95px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    color: #5B6A9A;
    letter-spacing: -5px;
    margin: 0;
  }

  .skill-meta {
    vertical-align: top;
    display: inline-block;
    max-width: 300px;
    text-align: left;
    margin-top: 16px;
    margin-left: 16px;
  }

  .skill-meta h3 {
    font-size: 20px;
    font-weight: 800;
    color: #5B6A9A;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .skill-meta span {
    color: #81899C;
    line-height: 20px;
    font-size: 16px;
  }
  /* Achievements ends */
  /* Timeline styles*/
  ol {
    position: relative;
    display: block;
    margin: 100px 0;
    height: 2px;
    background: rgba(129, 137, 156, .5);
  }

  ol::after,
  ol::before {
    content: "";
    position: absolute;
    top: -10px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 0 solid #5b6a9a;
  }

  ol::before {
    left: -5px;
  }

  ol::after {
    right: -10px;
    border: 0 solid transparent;
    border-right: 0;
    border-left: 20px solid #5b6a9a;
    border-radius: 3px;
  }
  /* ---- Timeline elements ---- */
  li {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    height: 50px;
    margin: 0;
    padding: 0;

  }

  li .line {
    position: absolute;
    top: -56px;
    left: 1%;
    font-size: 28px;
    font-weight: 600;
    color: #04143A;
    margin: 0;
  }

  li .point {
    content: "";
    top: -5px;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(238, 240, 247, 1);
    border-radius: 10px;
    background: #4A90E2;
    box-sizing: border-box;
    position: absolute;
  }

  li .description {
    display: none;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    z-index: 1;
    max-width: 95%;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #5B6A9A;
    a {
      background-image: none;
      text-shadow: none;
      text-decoration: underline;
      font-weight: 400;
    }
  }

  .timeline .date {
    font-size: 14px;
    color: #81899C;
    font-weight: 300;
  }
  /* ---- Hover effects ---- */
  li:hover {
    color: #48A4D2;
  }

  li .description {
    display: block;
  }
  /*timeline ends*/

  @media(max-width: 768px) {
    .container {
      padding: 16px;
      margin: 2.175rem auto;
    }

    .card {
      padding: 16px;
      text-align: left;
    }

    .card h2 {
      font-size: 70px;
    }

    .card,
    .sections {
      width: 100%;
      height: auto;
      margin: 10px 0;
      float: left;
    }

    .timeline {
      border: none;
      background-color: rgba(0,0,0,0);
    }

    .timeline li {
      margin-top: 70px;
      height: 150px;
    }

  .skills-title {
        top: -95px;
  }
  }
  @media(max-width: 425px) {
    .name {
      font-size: 40px;
    }
    .card,
    .sections {
      width: 100%;
      height: auto;
      margin: 10px 0;
      float: left;
    }

    .timeline {
      display: none;
    }

    .job-title {
      position: absolute;
      font-size: 16px;
      padding: 10px;
    }

    .lead {
      margin-top: 16px;
      font-size: 20px;
      line-height: 28px;
    }

    .container {
      margin-top: 2.175rem;
      padding: 0 16px;
    }

    footer {
      margin-top: 2050px;
    }
  }
  .bg-wrapper {
    background-color: rgb(238, 240, 247);
    padding: 40px 0 120px;
  }
  .container-0 {
    max-width: 1100px;
    height: auto;
    padding: 0 16px;
    margin: 0 auto;
  }
  @media(max-width: 1024px) {
    .container-0 {
      padding: 0 16px;
    }
  }
}

//The skill bars

$skill1: $red;
$skill2: #c8e7f8;
$skill3: #27ae60;
$skill4: #27ae60;
$skill5: #27ae60;

.skills-container {
  background-color: $primaryBlack;
  padding: 24px 0;
  position: relative;
  margin-top: 120px;
}
.skill-bar-container {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #222722;
    margin-bottom: 3em;
    font-family: monospace;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    &:last-child {
      margin-bottom: 0;
    }
    .skill-bar {
        display: block;
        border-radius: 6px;
        height: 6px;
            &.level1 { width: 20%; background-color: $skill1}
            &.level2 { width: 80%; background-color: $skill5}
            &.level3 { width: 85%; background-color: $skill5}
            &.level4 { width: 90%; background-color: $skill5}
            &.level5 { width: 100%; background-color: $skill5 }
    }
    .skill-name {
        position: absolute;
        top: -25px;
        left: 5px;
        color: $white;
        font-weight: 400;
    }
    .skill-percent {
      position: absolute;
      top: -25px;
      right: 5px;
      color: $white;
      font-weight: 400;
    }
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}

.skills-title {
  color: $primaryBlack;
  position: absolute;
  top: -112px;
  font-size: 4rem;
  text-transform: uppercase;
}

.time {
  font-size: 16px;
  margin-bottom: 12px;
}

.job {
  margin-bottom: 8px;
}

.job-wrapper {
  border-bottom: 1px solid $lightGray;
  p {
    &:last-child {
          margin-bottom: 2.175rem;
    }
  }
}

a.company {
  background-image: none;
  text-decoration: underline;
  text-shadow: none;
}

.line {
  padding-bottom: 8px;
  border-bottom: 1px solid $lightGray;
}

footer {
  margin-top: 0;
}

.notification {
  border-radius: 4px;
  border: 1px solid $lightGray;
  padding: 12px 16px;
}
