@import '../common/globals.scss';

.testimonial-author-wrapper,
.testimonial-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.testimonial-wrapper {
  position: relative;
  margin-top: 4em;
  display: flex;
  max-width: 940px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid #f7f8f9;
  border-right: 2px solid #f7f8f9;
  border-left: 2px solid #f7f8f9;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 1px 2px 6px 0 rgba(0,0,0,.13);
  text-align: center;

  h4 {
    margin-top: 0;
    position: relative;

    &:before {
      content: '';
      background: $lightGray;
      width: 30px;
      height: 3px;
      position: absolute;
      top: -26px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.testimonial-blue-line,
.visual-for-styleguide {
  background-color: $green;
}

.testimonial-wrapper.use-case {
  padding: 32px 70px;
}

.testimonial-author-wrapper {
  display: flex;
  margin-top: 15px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.testimonial-blue-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  margin-right: -1px;
  margin-left: -1px;
}

.testimonial-wrapper-bare {
  position: relative;
  margin-right: 60px;
  margin-left: 60px;
}

.quotes-bare-left {
  position: absolute;
  left: -8%;
  top: 20%;
}

.quote-bare-right {
  position: absolute;
  top: 20%;
  right: -8%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.customer-story-testimonial-quote-icon {
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.quote-icon {
  position: absolute;
  left: 10px;
  top: -10px;
  width: 74px;

  svg {
    width: 100%;
  }
}

.quote-icon.bottom-quote {
  left: auto;
  top: auto;
  right: 10px;
  bottom: -12px;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.mobile-banner {
  display: none;
}

.mobile-banner img {
  width: 100%;
  box-shadow: 0 6px 12px rgba(0,0,0,0.23),0 10px 40px rgba(0,0,0,0.19);
}
@media screen and (max-width: 480px) {
  .mobile-banner {
    display: block;
  }
}

.resp-iframe {
  height: 300px;
}
